<html>
<script type="text/javascript" src="scripts.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="reset.css"></link>
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="style.css">
<body>

<select id="ownership">
<option>All</option>
<option>Free</option>
<option>Owned</option>
</select>
<table id="data_table" class="tablesorter">
	<thead>
		<th>Name</th>
		<th>Team</th>
		<th>Pos</th>
		<th>Owned By</th>
	</thead>
	<tbody id="table_body">
	</tbody>
</table>

</body>

</html>